*{
    font-family: Open Sans;
}
/* Nevigation bar styles */
.nav-bar{
    display: flex;
    justify-content: space-between;
    
    
}
nav>ul{
    list-style: none;
    display: flex;
    align-items: center;
}
nav>ul>li>a{
    text-decoration: none;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.a{
    color: #FD6E0A;
}
.nav-link{
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding-right: 150px;

}
nav li{
    margin-right: 50px;
}
.common-btn{
    border: 0;
    border-radius: 5px;
    background: #FD6E0A;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
    padding: 18px 35px;
}
/* Header/ banner styles */
.header{
    background-color: #FFF8F3;
    padding: 30px 30px 30px 150px ;
}
.banner{
    display: flex;
    align-items: center;
}
.banner .profile-img{
    height: 100%;
    width: 500px;
}